/****************************************************************************************/
/*************** [COLOR CODES] DARK:#af272d LIGHT:#e7b613 *****************/
/****************************************************************************************/


WalletFrame {
border-image: url(':/images/bg_lion') 0 0 0 0 stretch stretch;
border-top:0px solid #000;
margin:0;
padding:0;
font-family: "Montserrat SemiBold";
background-color:#000;
}

QStatusBar {
background-color:#000;
border:0px solid #000;
}

QStatusBar::item {
border:0;
}

.QFrame {
background-color:transparent;
border:0px solid #000;
}

.QScrollArea {
background-color:transparent;
border:0px solid #000;
}

QMenuBar {
background-color:#000;
font-family: "Montserrat SemiBold";
}

QMenuBar::item {
background-color:#000;
color:#fff;
font-family: "Montserrat SemiBold";
}

QMenuBar::item:selected {
background-color:#2e2e2e;
}

QMenu {
background-color:#2e2e2e;
font-family: "Montserrat SemiBold";
}

QMenu::item {
color:#f0f0f0;
font-family: "Montserrat SemiBold";
}

QMenu::item:selected {
background-color:#5f5f5f;
color:#f0f0f0;
}

QToolBar {
background-color:#000;
border:0px solid #000;
padding:0;
margin:0;
}

QToolBar > QToolButton {
background-color:#000;
border:0px solid #333;
min-height: 75px;
min-width: 90px;
padding: 0px 16px;
font-weight:bold;
color:#5f5f5f;
}

QToolBar > QToolButton:checked {
background-color:#000;
color:#fff;
font-weight:bold;
}

QMessageBox {
background-color:#000;
}

QProgressBar {
color:#fff;
border:1px solid #333333;
border-radius:3px;
background-color:#212121;
font-family: "Montserrat SemiBold";
}

QProgressBar::chunk {
background-color:#dec393;
border-radius:0px;
}

QTabWidget {
background-color:transparent;
font-family: "Montserrat SemiBold";
}

QTabWidget::pane {
background-color:transparent;
border-top:1px solid #292929;
}

QTabBar {
background-color:#000;
color:#5f5f5f;
}

QTabBar::tab {
background-color:#2e2e2e;
color:#ccc;
font-family: "Montserrat SemiBold";
font-size:14px;
}

QTabBar::tab:hover:!selected {
background-color:#000;
color:#fff;
}

QWidget {
selection-background-color:#fff; /* Object highlight color */
selection-color:#000;
outline:0; /* Remove Annoying Focus Rectangle */
}

QGroupBox {
background-color:transparent;
color:#fff;
}

QToolTip {
background-color:#5f5f5f;
color:#f0f0f0;
border: 1px solid #000;
}

QTextEdit {
border: 1px solid #2e2e2e;
selection-color:#000;
selection-background-color:#fff;
background-color:#000;
color:#fff;
font-family: "Montserrat SemiBold";
}

/****************************************************************************************/

QLabel { /* Base Text Size & Color */
font-size:12px;
color:#fff;
font-family: "Montserrat SemiBold";
}

.QRadioButton { /* Radio Button Labels */
color:#fff;
}

QRadioButton::indicator {
  width: 18px;
  height: 18px;
}
QRadioButton::indicator:unchecked {
    image: url(:/icons/radio_normal);
}

QRadioButton::indicator:unchecked:hover {
    image: url(:/icons/radio_hover);
}
QRadioButton::indicator:unchecked:pressed {
    image: url(:/icons/radio_hover);
}
QRadioButton::indicator:checked {
    image: url(:/icons/radio_checked);
}

QRadioButton::indicator:checked:hover {
    image: url(:/icons/radio_checked);
}

QRadioButton::indicator:checked:pressed {
    image: url(:/icons/radio_checked);
}

QCheckBox::indicator {
  width: 18px;
  height: 18px;
}

QCheckBox::indicator:unchecked {
   image: url(:/icons/check_normal);
 }

 QCheckBox::indicator:unchecked:hover {
   image: url(:/icons/check_hover);
 }

 QCheckBox::indicator:unchecked:pressed {
   image: url(:/icons/check_hover);
 }

 QCheckBox::indicator:checked {
   image: url(:/icons/check_checked);
 }

 QCheckBox::indicator:checked:hover {
   image: url(:/icons/check_checked);
 }

 QCheckBox::indicator:checked:pressed {
   image: url(:/icons/check_checked);
 }

.QCheckBox { /* Checkbox Labels */
color:#fff;
background-color:transparent;
}

.QCheckBox:hover {
background-color:transparent;
}

.QValidatedLineEdit, .QLineEdit { /* Text Entry Fields */
border: 1px solid #2e2e2e;
font-size:13px;
min-height:25px;
outline:0;
padding:3px;
background-color:#000;
color:#fff;
selection-color:#000;
selection-background-color:#fff;
font-family: "Montserrat SemiBold";
}

.QValidatedLineEdit[text=\"\"], .QLineEdit[text=\"\"] { /* Text Entry Fields */
color:#5f5f5f;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
background-color:#2e2e2e;
}

.QValidatedLineEdit:focus, .QLineEdit:focus, .QPlainTextEdit:focus	{
border: 1px solid #FFEBC8;
}

/****************************************************************************************/

QPushButton { /* Global Button Style */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #000, stop: .1 #000, stop: .95 #000, stop: 1 #000);
border:1px solid #dec393;
border-radius:5px;
color:#FFF;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
font-family: "Montserrat SemiBold";
}

QPushButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #dec393, stop: .1 #dec393, stop: .95 #dec393, stop: 1 #dec393);
}

QPushButton:pressed {
border:1px solid #333;
}

QComboBox { /* Dropdown Menus */
border:1px solid #2e2e2e;
padding: 3px 5px 3px 5px;
font-size: 13px;
font-family: "Montserrat SemiBold";
background:#000;
min-height:25px;
color:#fff;
}

QComboBox:checked {
background:#2e2e2e;
}

QComboBox:editable {
background:#000;
color:#616161;
border:0px solid transparent;
}

QComboBox::drop-down {
width:25px;
border:0px;
}

QComboBox::down-arrow {
border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch;
}

QComboBox QListView {
background:#000;
border:1px solid #2e2e2e;
padding-right:1px;
padding-left:1px;
color:#fff;
}

QComboBox QAbstractItemView
{
  selection-color: #fff;
  selection-background-color: #dec393;
}

QComboBox QAbstractItemView::item {
margin:4px;
}

QComboBox::item {
color:#fff;
background:#5f5f5f;
}

QComboBox::item:alternate {
background:#000;
}

QComboBox::item:selected {
border:0px solid transparent;
background:#dec393;
}

QComboBox::indicator {
background-color:transparent;
selection-background-color:#dec393;
color:transparent;
selection-color:transparent;
}

QAbstractSpinBox {
border:1px solid #2e2e2e;
padding: 3px 5px 3px 5px;
background:#000;
min-height:25px;
color:#fff;
}

QAbstractSpinBox::up-button {
subcontrol-origin: border;
subcontrol-position: top right;
width:21px;
background:#000;
border-left:0px;
border-right:1px solid #2e2e2e;
border-top:1px solid #2e2e2e;
border-bottom:0px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}

QAbstractSpinBox::up-arrow {
image:url(':/images/upArrow_small');
}

QAbstractSpinBox::down-button {
subcontrol-origin: border;
subcontrol-position: bottom right;
width:21px;
background:#000;
border-top:0px;
border-left:0px;
border-right:1px solid #2e2e2e;
border-bottom:1px solid #2e2e2e;
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}

QAbstractSpinBox::down-arrow {
image:url(':/images/downArrow_small');
}

/****************************************************************************************/

QHeaderView { /* Table Header */
background-color:transparent;
outline:0;
}

/* style the sort indicator */

QHeaderView::up-arrow {
    image: url(:/images/upArrow_sort);
}

QHeaderView::down-arrow {
    image: url(:/images/downArrow_sort);
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment: 'AlignVCenter | AlignLeft';
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #dec393, stop: 1 #dec393);
color:#000;
min-height:25px;
font-weight:bold;
font-size:12px;
border:0;
border-right:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
/*text-transform: uppercase;*/
text-align: left;
}

QHeaderView::section:last {
border-right:0;
}

.QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background:transparent;
border:1px solid #292929;
font-family: "Montserrat SemiBold";
gridline-color:#2e2e2e;
}

QTableView::item { /* Table Item */
background:transparent;
font-size:12px;
color:#fff;
font-family: "Montserrat SemiBold";
}

QTableView::item:selected { /* Table Item Selected */
background-color:#dec393;
color:#fff;
font-family: "Montserrat SemiBold";
font-size:12px;
}

QTableWidget { /* Table Background */
background:transparent;
border:1px solid #292929;
font-family: "Montserrat SemiBold";
gridline-color:#2e2e2e;
}

QTableWidget:focus, QTableView, QTableView:focus { /* Remove focus outline */
outline:0;
background:transparent;
}

QTreeWidget { /* Tree Background */
background-color:#000;
alternate-background-color:#2e2e2e;
color:#fff;
font-family: "Montserrat SemiBold";
}

QScrollBar { /* Scroll Bar */

}

QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
border:0;
background:#000;
width:18px;
margin:18px 0px 18px 0px;
}

QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
border:0;
background:#000;
height:18px;
margin:0px 18px 0px 18px;
}


QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
background:#373737;
min-height:10px;
}

QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
background:#373737;
min-width:10px;
}

QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
background:#2e2e2e;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
background-color:#000;
border: 1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#e0e0e0;
}

QScrollBar::sub-line:vertical { /* Vertical - top button position */
subcontrol-position:top;
subcontrol-origin: margin;
}

QScrollBar::add-line:vertical { /* Vertical - bottom button position */
subcontrol-position:bottom;
subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal { /* Vertical - left button position */
subcontrol-position:left;
subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal { /* Vertical - right button position */
subcontrol-position:right;
subcontrol-origin: margin;
}

QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
width:10px;
height:10px;
}

QScrollBar:up-arrow {
background-image: url(':/images/upArrow_small');
}

QScrollBar:down-arrow {
background-image: url(':/images/downArrow_small');
}

QScrollBar:left-arrow {
background-image: url(':/images/leftArrow_small');
}

QScrollBar:right-arrow {
background-image: url(':/images/rightArrow_small');
}

QSlider::groove:horizontal { 
	background-color: black;
	border: 0px solid #424242; 
	height: 24px; 
	border-radius: 4px;
}

QSlider::handle:horizontal {
image: url(':/icons/slider_handle');
background-color:transparent;
border:none;
width: 26px; 
height: 26px; 
line-height: 20px; 
margin-top: -5px; 
margin-bottom: -5px;
}

QSlider::sub-page:horizontal {
background-color:#e9cfa1;
border-color:#e9cfa1;
border-radius:3px;
}

QSlider::add-page:horizontal {
background-color:#2e2e2e;
border:1px solid #2e2e2e;
border-radius:3px;
}

/**************************** DIALOG BOXES **********************************************/

QDialog {
background-color: #000;
}

QDialog .QTabWidget {
border-bottom:none;
font-family: "Montserrat SemiBold";
}

QDialog .QTabWidget::pane {
border-top: 1px solid #2e2e2e;
font-family: "Montserrat SemiBold";
}

QDialog .QTabWidget QTabBar::tab {
background-color:#000;
color:#464646;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
border-top: none;
font-size:14px;
min-width: 120px;
font-family: "Montserrat SemiBold";
}

QDialog .QTabWidget QTabBar::tab:first {
border-left: 1px solid #2e2e2e;
}

QDialog .QTabWidget QTabBar::tab:last {
border-right: 1px solid #2e2e2e;
}

QDialog .QTabWidget QTabBar::tab:selected, QDialog .QTabWidget QTabBar::tab:hover {
background-color:#000;
color:#fff;
}

QDialog .QTabWidget .QWidget {
background-color:transparent;
color:#fff;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox {
min-height:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::down-button {
width:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::up-button {
width:15px;
}

QDialog .QTabWidget .QWidget QComboBox {
min-height:15px;
}

/**************************** FILE MENU *************************************************/

/* Dialog: Open URI */
QDialog#OpenURIDialog QLabel#label { /* URI Label */
font-weight:bold;
}

QDialog#OpenURIDialog QPushButton#selectFileButton { /* ... Button */
background-color:#000;
border:1px solid #d2d2d2;
color:#dec393;
padding-left:10px;
padding-right:10px;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:hover {
background-color:#dec393;
color:#fff;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:pressed {
border:1px solid #9e9e9e;
}

/**************************** BLOCK EXPLORER DIALOG *******************************/
QMainWindow#BlockExplorer	{
background-color:#000;
color:#fff;
}
QMainWindow#BlockExplorer .QScrollArea#scrollArea	{
background-color:#000;
}

QMainWindow#BlockExplorer .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents	{
background-color:#000;
}

QMainWindow#BlockExplorer QLabel#content	{
background-color:#000;
color:#fff;
}

/**************************** SIGN/ VERIFY MESSAGE DIALOG *******************************/

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM { /* Address Book Button */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
border:1px solid #2e2e2e;
background-color:#000;
color:#fff;
font-family: "Montserrat SemiBold";
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { /* Paste Button */
/* qproperty-icon: url(":/icons/editpaste"); */
background-color:transparent;
padding-left:15px;
}

QDialog#SignVerifyMessageDialog QLineEdit:!focus { /* Font Hack */
font-size:13px;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { /* Copy Button */
/* qproperty-icon: url(":/icons/editcopy"); */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { /* Verify Message - Address Book Button */
background-color:transparent;
border:0;
padding-left:10px;
padding-right:10px;
}

/**************************** SEND AND RECEIVE DIALOG ***********************************/

QWidget#AddressBookPage {
background-color:#000;
}

QWidget#AddressBookPage QPushButton#newAddress { /* New Address Button */
background-color:#000;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#newAddress:hover {
background-color:#dec393;
color:#fff;
}

QWidget#AddressBookPage QPushButton#newAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#copyAddress { /* Copy Address Button */
background-color:#000;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#copyAddress:hover {
background-color:#dec393;
color:#fff;
}

QWidget#AddressBookPage QPushButton#copyAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#deleteAddress { /* Delete Address Button */
background-color:#000;
border:1px solid #dec393;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#deleteAddress:hover {
background-color:#dec393;
color:#fff;
}

QWidget#AddressBookPage QPushButton#deleteAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QTableView { /* Address Listing */
font-size:12px;
}

QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
min-width:260px;
}

QWidget#MasternodeList .QTabWidget QTabBar::tab {
min-width:160px;
background-color:transparent;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}

QWidget#MasternodeList .QTabWidget QTabBar::tab:selected, QDialog .QTabWidget QTabBar::tab:hover {
background-color:transparent;
color:#fff;
}

QWidget#MasternodeList {
background-color:transparent;
}

QWidget#MasternodeList .QTabWidget#tabWidget {
background-color:transparent;
}

QWidget#MasternodeList .QTabWidget .QWidget {
background-color:transparent;
}

/**************************** SETTINGS MENU *********************************************/

/* Encrypt Wallet and Change Passphrase Dialog */
QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:170px;
min-height:33px; /* base width of 25px for QLineEdit, plus padding and border */
}

/* Options Dialog */
QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
margin-top:5px;
margin-bottom:5px;
}

QDialog#OptionsDialog .QTabWidget QTabBar::tab {
width:80px;
}

QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-height:20px;
margin-top:0px;
margin-bottom:0px;
padding-top:1px;
padding-bottom:1px;
}

QDialog#OptionsDialog > QLabel {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
font-family: "Montserrat SemiBold";
}

QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
margin-top:0px;
margin-bottom:0px;
}

QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
color:#818181;
padding-bottom:8px;
}

QDialog#OptionsDialog QCheckBox {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
font-family: "Montserrat SemiBold";
}

QDialog#OptionsDialog QCheckBox#displayAddresses {
min-height:33px;
}

/**************************** TOOLS MENU ************************************************/

QDialog#RPCConsole QWidget#tab_info QLabel#networkHeader, QDialog#RPCConsole QWidget#tab_info QLabel#blockchainHeader { /* Margin between Network and Block Chain headers */
qproperty-alignment: 'AlignBottom';
min-height:25px;
min-width:180px;
color:#e9cfa1;
}

QDialog#RPCConsole QWidget#tab_info QLabel#generalHeader	{
color:#e9cfa1;
}

QDialog#RPCConsole QWidget#tab_peers QLabel#peerHeading { /* Peers Info Header */
color:#e9cfa1;
}

QDialog#RPCConsole QWidget#tab_repair QLabel#label_repair_header { /* Peers Info Header */
font-size:14px;
}

QDialog#RPCConsole QWidget#tab_repair QLabel#wallet_path { /* wallet path */
color:#e9cfa1;
}

QDialog#RPCConsole QWidget#tab_repair QPushButton#btn_resync	{
border:1px solid #dec393;
}

QDialog#RPCConsole QTableView#peerWidget::item { /* Peers Table Items */
color:#fff;
}

QDialog#RPCConsole QPushButton#openDebugLogfileButton {
min-width:80px;
border:1px solid #dec393;
font-size:12px;
padding-left:10px;
padding-right:10px;
}

QDialog#RPCConsole QTextEdit#messagesWidget { /* Console Messages Window */
border:0;
background-color:#000;
color:#fff;
}

QDialog#RPCConsole QLineEdit#lineEdit { /* Console Input */
margin-right:5px;
}

QDialog#RPCConsole QPushButton#clearButton { /* Console Clear Button */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

/**************************** HELP MENU *************************************************/

/* Command Line Options Dialog */
QDialog#HelpMessageDialog QScrollArea * {
background-color:#000;
}

QDialog#HelpMessageDialog QScrollBar:vertical, QDialog#HelpMessageDialog QScrollBar:horizontal {
border:0;
}

/* About SafeCapital Dialog */
QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { /* About SafeCapital Contents */
margin-left:10px;
}

QDialog#AboutDialog QLabel#label_2 { /* Margin for About SafeCapital text */
margin-right:10px;
}

/* Edit Address Dialog */
QDialog#EditAddressDialog QLabel {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-height:27px;
font-weight:normal;
padding-right:5px;
}

/**************************** OVERVIEW SCREEN *******************************************/

QWidget#OverviewPage { 
}

QWidget .QFrame#frame { /* Wallet Balance */
min-width:490px;
}

QWidget .QFrame#frame > .QLabel {
min-width:190px;
font-weight:normal;
min-height:30px;
}

QWidget .QFrame#frame .QLabel#label_5 { /* Wallet Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:transparent;
color:#fff;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelWalletStatus { /* Wallet Sync Status */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:3px;
}

QWidget .QFrame#frame .QLabel#labelSpendable { /* Spendable Header */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:18px;
}

QWidget .QFrame#frame .QLabel#labelWatchonly { /* Watch-only Header */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelBalanceText { /* Available Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
background-color:#000;
color:#5e5e5e;
margin-right:5px;
padding-right:5px;
font-weight:normal;
font-size:12px;
min-height:35px;
}


QWidget .QFrame#frame .QLabel#labelBalance { /* Available Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
font-weight:normal;
font-family: "Montserrat SemiBold";
color:#fff;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchAvailableText { /* Available Balance Text */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:12px;
font-weight:normal;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchAvailable { /* Watch-only Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
color:#5f5f5f;
font-family: "Montserrat SemiBold";
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelPendingText { /* Pending Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
font-size:12px;
background-color:transparent;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelUnconfirmedText { /* Pending Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
font-size:12px;
background-color:transparent;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelUnconfirmed { /* Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
font-family: "Montserrat SemiBold";
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchPendingText { /* Pending Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
font-size:12px;
background-color:transparent;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-right:5px;
padding-right:5px;
}


QWidget .QFrame#frame .QLabel#labelWatchPending { /* Watch-only Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
color:#5f5f5f;
font-family: "Montserrat SemiBold";
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelImmatureText { /* Immature Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
font-size:12px;
background-color:transparent;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelImmature { /* Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
font-family: "Montserrat SemiBold";
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchImmatureText { /* Immature Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
font-size:12px;
background-color:transparent;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelWatchImmature { /* Watch-only Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelTotalText { /* Total Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
font-size:12px;
background-color:transparent;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelTotal { /* Total Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
font-family: "Montserrat SemiBold";
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchTotalText { /* Total Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:160px;
font-size:12px;
background-color:transparent;
font-family: "Montserrat SemiBold";
color:#5f5f5f;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelWatchTotal { /* Watch-only Total Balance */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
font-size:26px;
color:#5f5f5f;
font-family: "Montserrat SemiBold";
margin-left:0px;
}


QDialog#MultiSendDialog .QPushButton	{
padding-top:5px;
padding-bottom:5px;
}

/**************************** MASTERNODESEND WIDGET ****************************************/


QWidget .QFrame#frameMasternodesend { /* Masternodesend Widget */
background-color:transparent;
qproperty-minimumSize: 451px 343px;
}

QWidget .QFrame#frameMasternodesend QWidget {
qproperty-geometry: rect(10 0 431 35);
}

QWidget .QFrame#frameMasternodesend .QLabel#label_2 { /* Masternodesend Header */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#af272d;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

/**************************** MASTERNODESEND ***********************************************/

QWidget .QFrame#frameMasternodesend .QLabel#labelMasternodesendSyncStatus { /* Masternodesend Sync Status */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:2px;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget {
qproperty-geometry: rect(10 51 451 175);
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget > .QLabel {
min-width:175px;
font-weight:normal;
min-height:25px;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#label_6 { /* Masternodesend Status Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:transparent;
color:#af272d;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#masternodesendEnabled { /* Masternodesend Status */

}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#label_7 { /* Masternodesend Completion Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:transparent;
color:#af272d;
margin-right:5px;
padding-right:5px;

}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QProgressBar#masternodesendProgress { /* Masternodesend Completion */
border: 1px solid #818181;
border-radius: 1px;
margin-right:43px;
text-align: right;
color:#818181;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QProgressBar#masternodesendProgress::chunk {
background-color: #af272d;
width:1px;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#labelAnonymizedText { /* Masternodesend Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:transparent;
color:#af272d;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#labelAnonymized { /* Masternodesend Balance */

}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#label_8 { /* Masternodesend Amount and Rounds Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:transparent;
color:#af272d;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#labelAmountRounds { /* Masternodesend Amount and Rounds */

}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#label_9 { /* Masternodesend Submitted Denom Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:transparent;
color:#af272d;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frameMasternodesend #formLayoutWidget .QLabel#labelSubmittedDenom { /* Masternodesend Submitted Denom */

}

QWidget .QFrame#frameMasternodesend .QLabel#masternodesendStatus { /* Masternodesend Status Notifications */
qproperty-alignment: 'AlignVCenter | AlignCenter';
qproperty-geometry: rect(70 226 395 34);
font-size:11px;
color:#818181;
}

/**************************** MASTERNODESEND BUTTONS ***************************************/

QWidget .QFrame#frameMasternodesend .QPushButton { /* Masternodesend Buttons - General Attributes */
border:0px solid #ffffff;
}

QWidget .QFrame#frameMasternodesend QPushButton:focus {
border:none;
outline:none;
}

QWidget .QFrame#frameMasternodesend .QPushButton#runAutoDenom { /* No idea why this button is in the .UI file... */
qproperty-geometry: rect(0 0 0 0);
}

QWidget .QFrame#frameMasternodesend .QPushButton#toggleMasternodesend { /* Start Masternodesend Mixing */
qproperty-geometry: rect(115 268 295 40);
font-size:15px;
font-weight:bold;
color:#ffffff;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:6px;
}

QWidget .QFrame#frameMasternodesend .QPushButton#toggleMasternodesend:hover {

}

QWidget .QFrame#frameMasternodesend .QPushButton#masternodesendAuto { /* Try Mix Button */
qproperty-geometry: rect(120 314 140 25);
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
min-height:25px;
font-size:9px;
padding:0px;
}

QWidget .QFrame#frameMasternodesend .QPushButton#masternodesendAuto:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget .QFrame#frameMasternodesend .QPushButton#masternodesendAuto:pressed {
border:1px solid #9e9e9e;
}

QWidget .QFrame#frameMasternodesend .QPushButton#masternodesendReset { /* Reset Button */
qproperty-geometry: rect(265 314 140 25);
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
min-height:25px;
font-size:9px;
padding:0px;
}

QWidget .QFrame#frameMasternodesend .QPushButton#masternodesendReset:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget .QFrame#frameMasternodesend .QPushButton#masternodesendReset:pressed {
border:1px solid #9e9e9e;
}

/**************************** RECENT TRANSACTIONS ***************************************/

QWidget .QFrame#frame_2 { /* Transactions Widget */
min-width:410px;
margin-right:0px;
margin-left:0;
margin-top:20px;
background-repeat:none;
border-top: 1px solid #2e2e2e;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { /* Recent Transactions Label */
min-width:180px;
color:#fff;
margin-left:7px;
margin-top:15px;
margin-right:5px;
margin-bottom:20px;
padding-right:5px;
font-family: "Montserrat SemiBold";
font-weight:normal;
font-size:20px;
min-height:24px;
}

QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { /* Recent Transactions Sync Status */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
min-width:93px;
margin-top:15px;
margin-left:16px;
margin-right:5px;
margin-bottom:20px;
min-height:16px;
font-size:11px;
border: 1px solid #e53c3c;
color: #e53c3c;
border-radius: 5px;
}

QWidget .QFrame#frame_2 QListView { /* Transaction List */
font-weight:normal;
font-size:12px;
max-width:369px;
margin-top:12px;
margin-left:0px; /* CSS Voodoo - set to -66px to hide default transaction icons */
}

/**************************** SEND DIALOG ***********************************************/

QDialog#SendCoinsDialog {
background-color:transparent;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl { /* Coin Control Section */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { /* Default Font Color and  Size */
font-weight:normal;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { /* Coin Control Inputs Button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
color:#fff;
font-weight:bold;
font-size:14px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { /* Coin Control Inputs */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { /* Coin Control Inputs Labels */
padding:2px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { /* Custom Change Label */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { /* Custom Change Address */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { /* Custom Change Address Validation Label */
font-weight:normal;
qproperty-margin:-6;
margin-right:112px;
}

QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
background:transparent;
}

QDialog#SendCoinsDialog .QPushButton#sendButton { /* Send Button */
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QPushButton#clearButton { /* Clear Button */
background-color: #000;
border:1px solid #dec393;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QPushButton#clearButton:hover {
background-color:#dec393
color:#fff;
}

QDialog#SendCoinsDialog .QPushButton#clearButton:pressed {
border:1px solid #dec393;
}

QDialog#SendCoinsDialog .QPushButton#addButton { /* Add Button */
background-color: #000;
border:1px solid #dec393;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QPushButton#addButton:hover {
background-color:#dec393;
color:#fff;
}

QDialog#SendCoinsDialog .QPushButton#addButton:pressed {
border:1px solid #dec393;
}

QDialog#SendCoinsDialog .QCheckBox#checkUseMasternodesend { /* Masternodesend Checkbox */
color:#616161;
font-weight:bold;
background:transparent;
/*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
border-radius:5px;
padding-top:20px;
padding-bottom:18px;
}

QDialog#SendCoinsDialog .QCheckBox#checkInstantSend { /* InstantSend Checkbox */
color:#616161;
font-weight:bold;
background:transparent;
/*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
border-radius:5px;
padding-top:20px;
padding-bottom:18px;
margin-left:10px;
margin-right:20px;
}

/* This QLabel uses name = "label" which conflicts with Address Book -> New Address */
/* To maximize backwards compatibility this formatting has been removed */

QDialog#SendCoinsDialog QLabel#label {
/*margin-left:20px;
margin-right:-2px;
padding-right:-2px;
color:#616161;
font-size:14px;
font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px;*/
min-height:27px;
}

QDialog#SendCoinsDialog QLabel#labelBalance {
margin-left:0px;
padding-left:0px;
color:#fff;
/* font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px; */
min-height:27px;
}

/**************************** SEND COINS ENTRY ******************************************/

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
background-color:#000;
min-width:102px;
font-weight:normal;
font-family: "Montserrat SemiBold";
font-size:14px;
color:#ffffff;
min-height:25px;
margin-right:5px;
padding-right:5px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#amountLabel {
background-color:#000;
}

QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { /* Pay To Input Field */
}

QStackedWidget#SendCoinsEntry .QToolButton { /* General Settings for Pay To Icons */
background-color:transparent;
padding-left:5px;
padding-right:5px;
border: 0;
outline: 0;
}

QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton { /* Address Book Button */
padding-left:10px;
background-color:#000;
}

QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton {
background-color:#000;
}

QStackedWidget#SendCoinsEntry .QToolButton#pasteButton {
background-color:#000;
}

QStackedWidget#SendCoinsEntry .QToolButton#deleteButton {
background-color:#000;
}

QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { /* Pay To Input Field */
}

/**************************** COIN CONTROL POPUP ****************************************/

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText { /* Coin Control Quantity Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity { /* Coin Control Quantity */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText { /* Coin Control Bytes Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytes { /* Coin Control Bytes */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText { /* Coin Control Amount Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmount { /* Coin Control Amount */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText { /* Coin Control Priority Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriority { /* Coin Control Priority */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText { /* Coin Control Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFee { /* Coin Control Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText { /* Coin Control Low Output Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput { /* Coin Control Low Output */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText { /* Coin Control After Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee { /* Coin Control After Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText { /* Coin Control Change Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChange { /* Coin Control Change */

}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { /* (un)select all button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonToggleLock { /* Toggle lock state button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#CoinControlDialog .QDialogButtonBox#buttonBox QPushButton { /* Coin Control 'OK' button */
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
color:#818181;
background-color:transparent;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
color:#818181;
background-color:transparent;
}

QDialog#CoinControlDialog QHeaderView::section:first { /* Bug Fix: the number "1" displays in this table for some reason... */
color:transparent;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget { /* Coin Control Widget Container */
outline:0;
background-color:#000;
border:1px solid #333;
color:#fff;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
background-color:#000;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
background-color:#dec393;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
background-color:#2e2e2e;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
background-image: url(':/images/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#dec393;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
background-image: url(':/images/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#dec393;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {

}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { /* Coin Control Widget Checkbox */

}

/**************************** RECEIVE COINS *********************************************/

QDialog#ReceiveCoinsDialog {
}

QWidget#ReceiveCoinsDialog .QFrame#frame QTableView#recentRequestsView { /*  */
background-color:transparent;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_5 { /* Label Label */
background-color:transparent;
font-weight:normal;
font-size:12px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_2 { /* Label Label */
background-color:transparent;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:14px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label { /* Amount Label */
background-color:#e7b613;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:14px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_3 { /* Message Label */
background-color:#000;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:14px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton { /* Clear Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton { /* Show Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton { /* Remove Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 { /* Requested Payments History Label */
color:#5f5f5f;
font-weight:bold;
font-size:16px;
}

/**************************** RECEIVE COINS DIALOG **************************************/
QDialog#ReceiveRequestDialog QTextEdit { /* Contents of Receive Coin Dialog */
border:1px solid #d7d7d7;
background-color: #000;
}

QDialog#ReceiveRequestDialog QTextEdit#outUri { /* Contents of Receive Coin Dialog */
background-color:#000;
}

/**************************** TRANSACTIONS PAGE *****************************************/

TransactionView	{
background-color: #000;
}

TransactionView QLineEdit { /* Address Filter */
margin-bottom:2px;
margin-right:1px;
min-width:111px;
text-align:center;
}

TransactionView QComboBox {
margin-bottom:1px;
margin-right:1px;
}

QLabel#transactionSumLabel { /* Example of setObjectName for widgets without name */
color:#333333;
font-weight:bold;
}
 
QLabel#transactionSum { /* Example of setObjectName for widgets without name */
color:#333333;
}

/**************************** TRANSACTION DETAILS DIALOG ********************************/

QDialog#TransactionDescDialog QTextEdit { /* Contents of Receive Coin Dialog */
border:1px solid #d7d7d7;
font-family: "Montserrat SemiBold";
}

/********************************* CALENDAR WIDGET **************************************/

QCalendarView {
border:1px solid #333;
}

QCalendarWidget QWidget#qt_calendar_navigationbar { /* Calendar widget navigation bar */
background-color:#dec393;
font-weight:bold;
}

QCalendarWidget QAbstractItemView { /* Calendar widget days */
alternate-background-color:#2e2e2e;
background-color:#000;
selection-background-color: #e9cfa1; 
}

QCalendarWidget QAbstractItemView:enabled { /* Calendar widget weekdays in month */
color:#fff;
}

QCalendarWidget QAbstractItemView:disabled { /* Calendar widget days not in month */
color:#5f5f5f;
}
